@import 'fibonacci';
@import 'variables';


@mixin size-n-padding($val) {
	font-size:$val;
	@include left-n-right-padding($val);
}

@mixin left-n-right-padding($val) {
	padding-right:$val;
	padding-left:$val;
}

@mixin line-fill-n-color($linecolor, $fill, $typecolor) {
	border:solid $line $linecolor;
	background-color: $fill;
	color:$typecolor;
}

@mixin corners($val) {
	border-radius:$val;
}


// Default
button {
	//font-weight:bold;
	//@include corners($radius);	
	height:$f9;
	@include line-fill-n-color($brand, $brand, $light);
	@include size-n-padding($f7);
}


// Sizing
button.large {
	height:$f10;
	@include size-n-padding($f8);	
}

button.medium {
	height:$f9;
	@include size-n-padding($f7);
}

button.small {
	height:$f8;
	@include size-n-padding($f6);
}
