@import 'fibonacci';
@import 'variables';

@mixin size-n-indent($val) {
	font-size:$val;
	text-indent:$val;
}

// Default
input {	
	height:$f9;
	@include size-n-indent($f7);	
	border:2px solid $dark;
}

// Sizing
input.large {
	height:$f10;
	@include size-n-indent($f8);
}

input.medium {
	height:$f9;
	@include size-n-indent($f7);	
}

input.small {   
	height:$f8;
	@include size-n-indent($f6);	
}
