@import 'fibonacci';
@import 'variables';

$Font: sans-serif;

* {
	font-family:$Font;
	letter-spacing:$f1;
}

// Headers

h1 {
	font-size:$f11;	
}

h2 {
	font-size:$f10;	
}

h3 {
	font-size:$f9;	
}

h4 {
	font-size:$f8;	
}

h5 {
	font-size:$f7;	
}

// Paragraphs

p {
	font-size:$f7;
	line-height:$f8;
}
// Emphesized text
em {
	font-style:italic;
}


// Small text

small {
	font-size:$f6;
	line-height:$f7;
}

b {
	font-weight:bold;
}

mark {
	background-color:$brand;
	color:$light;
}

//list

li {
	font-size:$f7;
}

