* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none; }

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

legend {
  color: #000; }

li {
  list-style: none; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal; }

input, textarea, select {
  font-size: 110%;
  line-height: 1.1; }

abbr, acronym {
  border-bottom: .1em dotted;
  cursor: help; }

* {
  font-family: sans-serif;
  letter-spacing: 1px; }

h1 {
  font-size: 144px; }

h2 {
  font-size: 89px; }

h3 {
  font-size: 55px; }

h4 {
  font-size: 34px; }

h5 {
  font-size: 21px; }

p {
  font-size: 21px;
  line-height: 34px; }

em {
  font-style: italic; }

small {
  font-size: 13px;
  line-height: 21px; }

b {
  font-weight: bold; }

mark {
  background-color: black;
  color: white; }

li {
  font-size: 21px; }

button {
  height: 55px;
  border: solid 2px black;
  background-color: black;
  color: white;
  font-size: 21px;
  padding-right: 21px;
  padding-left: 21px; }

button.large {
  height: 89px;
  font-size: 34px;
  padding-right: 34px;
  padding-left: 34px; }

button.medium {
  height: 55px;
  font-size: 21px;
  padding-right: 21px;
  padding-left: 21px; }

button.small {
  height: 34px;
  font-size: 13px;
  padding-right: 13px;
  padding-left: 13px; }

nav.large {
  height: 89px; }

nav.medium {
  height: 55px; }

nav.small {
  height: 34px; }

nav.fixed {
  width: 100%;
  position: fixed;
  top: 0px; }

input {
  height: 55px;
  font-size: 21px;
  text-indent: 21px;
  border: 2px solid black; }

input.large {
  height: 89px;
  font-size: 34px;
  text-indent: 34px; }

input.medium {
  height: 55px;
  font-size: 21px;
  text-indent: 21px; }

input.small {
  height: 34px;
  font-size: 13px;
  text-indent: 13px; }

nav {
  background-color: black; }

button {
  margin: 8px; }
