@import 'normalize';
@import 'fibonacci';
@import 'typography';
@import 'buttons';
@import 'variables';
@import 'nav';
@import 'inputs';
@import 'mixtape';



body {
	@include respond-to(small) {
		padding:$f7;
	}
}

nav {
	background-color:$brand;
}

button {
	margin:$f5;
}


.container {
   @include respond-to(small) {
 	  //padding:$f4;
	  width: 100%;
   }
	width:100%;
	height:100%;
	display: flex;
	justify-content: center;
}

.sub-container {
   @include respond-to(small) {
 	  padding:$f6;
	  width: 100%;
   }
	padding-top:$f8;
	width:$f13;
	
}

.title {
	font-family:$Font2;
	color:$brand;
	margin-bottom:$f6;
	//margin-left: $f7;
}

.logo {
   @include respond-to(small) {
 	  width:100%;
   }
	height: $f12;
	width: $f13;
	background-image:url(../assets/fibo.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   margin-bottom:$f6;
}




//section

section {
   @include respond-to(small) {
 	  margin:$f1;
	  margin-top:$f10;
   }
	margin:$f9;
}

.section-title {
	border-top: 8px solid black;
	border-left: 8px solid black;
	height: $f9;
	.title {
      position: relative;
      top: $f8;
      left: $f8;
	}
}



//flex
.cols {
  display: flex;
  margin-top: $f9;
  padding:$f9;
  @include respond-to(small) {
	  padding:$f1;
	  margin-top: $f12;
  }
}
.col {
  flex: 1;
}



.dark {
	background-color:$dark;
	color:$brand;
}
.light {
	background-color:$brand;
	color:$dark;
}
//lists
li {
	padding:$f4;
	text-align:center;
}


.equal-sign {
   height: 20%;
   border-top: $f6 solid $dark;
   border-bottom: $f6 solid $brand;
   align-self: center;
}


.bottom.cols {
	height:800px;
}

.fibo {
	@include respond-to(small) {
		flex:3;
   }
}

.Mr_Fibo {
	height:100%;
	background-image:url(../assets/mr_fibo.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
		
}


